{% extends "SgTuggenMainBundle::layout.html.twig" %}

{% set title = 'Seite nicht gefunden' %}

{% block content %}
    <h1>Seite nicht gefunden!</h1>

    <div>
        Ihre angeforderte Seite konnte nicht gefunden werden.
    </div>
{% endblock %}
