composer.phar
web/bundles/
web/js/
web/css/
app/cache/*
app/logs/*
app/data/*
vendor/
app/bootstrap.php.cache
app/config/parameters.yml

web/config.php
app/SymfonyRequirements.php
app/check.php

build/
.vagrant/

/bin/
!.gitignore
