parameters:
  level: 7
  paths:
    - src/
  ignoreErrors:
    - message: "#^Method App\\\\Form\\\\ContactType\\:\\:buildForm\\(\\) has parameter \\$builder with no value type specified in iterable type Symfony\\\\Component\\\\Form\\\\FormBuilderInterface\\.$#"
      count: 1
      path: src/Form/ContactType.php
    - message: "#^Method App\\\\Form\\\\ContactType\\:\\:buildForm\\(\\) has parameter \\$options with no value type specified in iterable type array\\.$#"
      count: 1
      path: src/Form/ContactType.php
