includes:
    - phpstan.dist.neon

parameters:
    editorUrl: 'phpstorm://open?file=%%file%%&line=%%line%%'
    editorUrlTitle: '%%relFile%%:%%line%%'
    symfony:
        containerXmlPath: var/cache/dev/Infrastructure_Symfony_KernelDevDebugContainer.xml
