{% extends "SgTuggenMainBundle::layout.html.twig" %}

{% block content %}

    <h1>{{ cmfMainContent.title }}</h1>

    <div id="page">
        {{ cmfMainContent.body|raw }}
        {# createphp cmfMainContent as="rdf" #}
        {# rdf|raw #}
        {# endcreatephp #}
    </div>

{% endblock %}
