parameters:
    locale: de
    secret: ThisTokenIsNotSoSecretChangeIt
    database_driver: pdo_sqlite
    database_path: '%kernel.root_dir%/data/app.sqlite'
    phpcr_backend:
        type: doctrinedbal
        connection: doctrine.dbal.default_connection
# Enable these lines to use file system caching for the storage API
#        caches:
#            meta: liip_doctrine_cache.ns.meta
#            nodes: liip_doctrine_cache.ns.nodes
    phpcr_workspace: default
    phpcr_user: admin
    phpcr_pass: admin

    database_host: null
    database_port: null
    database_name: null
    database_user: null
    database_password: null

    mailer_transport:  mail
    mailer_encryption: ~
    mailer_auth_mode:  ~
    mailer_host:       ~
    mailer_user:       ~
    mailer_password:   ~
    mailer_disable_delivery: true
    mailer_delivery_address: ~
