{% extends 'base.html.twig' %}

{% block title %}Kontakt - SG Tuggen{% endblock %}

{% block content %}
<h1>Kontakt</h1>
<p>
    Vielen Dank für Ihre Kontaktanfrage. Wir werden diese umgehend bearbeiten.
</p>
{% endblock %}
