{% extends 'base.html.twig' %}

{% block title %}Feldschiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Feldschiessen 2023</h1>
<table id="dates" summary="Daten für das eidgenössische Feldschiessen">
    <tr class="datetime">
        <td class="date">Freitag, 2. Juni 2023</td>
        <td class="time-big">18:00 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 3. Juni 2023</td>
        <td class="time-big">14:00 Uhr bis 17:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 4. Juni 2023</td>
        <td class="time-big">09:30 Uhr bis 12:00 Uhr</td>
    </tr>
</table>
<div class="text">Wir laden Dich freundlich zum grössten Schützenfest der Welt ein, zum Eidgenössischen Feldschiessen! Damit dieser Anlass wieder zu einem Volksfest wird, hoffen wir auf die Teilnahme aller...
<ul>
    <li>Ehrenmitglieder, Veteranen, Aktivschützen, Jungschützen</li>
    <li>Mussschützen, Plauschschützen und Gönner</li>
    <li>Behördenvertreter und Mitglieder aller Dorfvereine</li>
    <li>Gelegenheitsschützen, Neulinge, Damen und Herren</li>
</ul>
... weil hier noch eindeutig das Motto gilt:
</div>
<div class="highlight">Beteiligung kommt vor dem Rang!</div>
{#<div class="text">Wieder mit Plausch-Gruppenwettkampf für Familien, Firmen, Vereine, Politische Parteien, Behörden und Plauschformationen. Vier Mann / Frau bilden eine Gruppe, drei werden gewertet. Bitte verlange das Reglement und die Anmeldeunterlagen bei deinem Vereinspräsidenten.
<div id="links">#}
    {#<a href="{{ asset('docs/GruppenReglement2018.doc') }}">Reglement</a><br />#}
    {#<a href="{{ asset('docs/GruppenAnmeldung2019.doc') }}">Anmeldeformular</a>#}
{#</div>
</div>#}
<div class="text">Also, an die Gewehre! Die Teilnahme ist völlig kostenlos! Waffen und Betreuer stehen im Bedarfsfall zur Verfügung! Praktisch keine Wartezeiten dank der modernen Anlage! Herzlichen Dank, gut Schuss und vergnügliche Stunden!</div>
{% endblock %}
