{% extends 'base.html.twig' %}

{% block title %}Gruppenschiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Gruppenschiessen 2019</h1>
<table id="t_obli" summary="Gruppenschiessen">
<tr class="datetime">
    <td class="shooting">Feldstich</td>
    <td class="date">Vor dem Feldschiessen 2019 in Tuggen</td>
</tr>
<tr class="datetime">
    <td class="shooting">Mannschaftsmeisterschaft Tuggen</td>
    <td class="date">4 Runden April - September 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Hanslinschiessen Rapperswil</td>
    <td class="date">15./16./17./23. März 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Cup-Schiessen Tuggen</td>
    <td class="date">06. April 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Sportwaffen)</td>
    <td class="date">26./27./28. April 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Armeewaffen)</td>
    <td class="date">26./27./28. April 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldmeisterschaft 2019 in Trachslau</td>
    <td class="date">31. Mai und 07./08. Juni 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldschiessen in Tuggen</td>
    <td class="date">20./24./25./26. Juni 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Appenzeller Kantonal 2019</td>
    <td class="date">30. Juni 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Schaffhauser Kantonal 2019</td>
    <td class="date">02./03./04. und 09./10./11. und 16./17./18. August 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Rossbergschiessen</td>
    <td class="date">09./10./11. August 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Basler Kantonal 2019</td>
    <td class="date">01. September 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Wertmüllerschiessen Wädenswil</td>
    <td class="date">27./28. September und 05./06./07. Oktober 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Landschiessen Lichtensteig</td>
    <td class="date">28./30. September und 05./06./07. Oktober 2019</td>
</tr>
<tr class="datetime">
    <td class="shooting">Vorstandsschiessen March</td>
    <td class="date">noch nicht bekannt</td>
</tr>
</table>
{% endblock %}
