{% extends 'base.html.twig' %}

{% block title %}Fakultative Schiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Fakultative Schiessen 2023</h1>
<table id="t_obli" summary="Fakultative Schiessen">
<tr class="datetime">
    <td class="shooting">Feldstich</td>
    <td class="date">Vor dem Feldschiessen 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Mannschaftsmeisterschaft Tuggen</td>
    <td class="date">18. März bis 27. April und 03. Mai bis 25. Mai 2023, usw.</td>
</tr>
<tr class="datetime">
    <td class="shooting">Hanslin-Gedenk-Schiessen Rapperswil</td>
    <td class="date">10./11./12./18. März 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. A Schübelbach</td>
    <td class="date">28./29. April 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. D Schübelbach</td>
    <td class="date">28./29. April 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. E Schübelbach</td>
    <td class="date">28./29. April 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldschiessen 2023 Schübelbach</td>
    <td class="date">02./03./04. Juni 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obwadlner Kantonal 2023 (Gruppe A)</td>
    <td class="date">18./19. Juni 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obwadlner Kantonal 2023 (Gruppe D)</td>
    <td class="date">18./19. Juni 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Rossbergschiessen</td>
    <td class="date">11./12./13. August 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Bergeschiessen Amden</td>
    <td class="date">01./02./09. September 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Sihlseeschiessen Willerzell</td>
    <td class="date">02./08./10. September 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Herbstschiessen Mittel-Obermarch Schübelbach</td>
    <td class="date">08./09. September 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Veteranenschiessen March Schübelbach</td>
    <td class="date">08./09. September 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Herbstschiessen Stäfa</td>
    <td class="date">22./23./30. September 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Landschiessen Lichtensteig</td>
    <td class="date">30. September und 02./13./14./15. Oktober 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Chlausenschiessen Mettmenstetten</td>
    <td class="date">25./26. November und 02./03. Dezember 2023</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obligatorisch</td>
    <td class="date">10. April und 23. Juni und 18. August 2023</td>
</tr>
</table>
{% endblock %}
