{% extends 'base.html.twig' %}

{% block title %}Fakultative Schiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Fakultative Schiessen 2025</h1>
<table id="t_obli" summary="Fakultative Schiessen">
<tr class="datetime">
    <td class="shooting">Feldstich</td>
    <td class="date">Vor dem Feldschiessen 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Mannschaftsmeisterschaft Tuggen (4 Runden)</td>
    <td class="date">15. März bis 1. Mai und 7. Mai bis 28. Mai 2025, usw.</td>
</tr>
<tr class="datetime">
    <td class="shooting">Jubiläumsschiessen 150 Jahre SSV</td>
    <td class="date">Bis 30. Mai 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. A Tuggen</td>
    <td class="date">26./27. April 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. D Tuggen</td>
    <td class="date">26./27. April 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. E Tuggen</td>
    <td class="date">26./27. April 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Veternanenschiessen Tuggen</td>
    <td class="date">20. Juni 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">St. Galler Kantonal 2025 Sektion in Mels</td>
    <td class="date">29. Juni und 04. Juli 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">St. Galler Kantonal 2025 Grupp in Mels</td>
    <td class="date">29. Juni und 04. Juli 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Zigerstöcklischiessen Bilten</td>
    <td class="date">4./7./13./14. Juni 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Rossbergschiessen</td>
    <td class="date">8./9./10. August 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Landschiessen Lichtensteig</td>
    <td class="date">27./29. September und 4./5./6. Oktober 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Chlausenschiessen Mettmenstetten</td>
    <td class="date">29./30. November und 6./7. Dezember 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldschiessen 2025 Schübelbach</td>
    <td class="date">23./24./25. Mai 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obligatorisch</td>
    <td class="date">21. April und 27. Juni und 23. August 2025</td>
</tr>
<tr class="datetime">
    <td class="shooting">Jubiläumsschiessen 150 Jahre Burg Schwyz</td>
    <td class="date">8./9./22./23. August 2025</td>
</tr>
</table>
{% endblock %}
