{% extends 'base.html.twig' %}

{% block title %}Fakultative Schiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Fakultative Schiessen 2024</h1>
<table id="t_obli" summary="Fakultative Schiessen">
<tr class="datetime">
    <td class="shooting">Feldstich</td>
    <td class="date">Vor dem Feldschiessen 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Mannschaftsmeisterschaft Tuggen (4 Runden)</td>
    <td class="date">16. März bis 2. Mai und 8. Mai bis 30. Mai 2024, usw.</td>
</tr>
<tr class="datetime">
    <td class="shooting">Hanslin-Gedenk-Schiessen Rapperswil</td>
    <td class="date">15./16./17./23. März 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. A Pfäffikon</td>
    <td class="date">26./27. April 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. D Pfäffikon</td>
    <td class="date">26./27. April 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen Kat. E Pfäffikon</td>
    <td class="date">26./27. April 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Panterschiessen Ricken</td>
    <td class="date">27. April und 3./4. Mai 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Historisches Gedenkschiessen Rothenthurm</td>
    <td class="date">27./28. April 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Jubiläumsschiessen 200 Jahre SSV Tuggen</td>
    <td class="date">Bis 9. Mai 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldschiessen 2024 Tuggen</td>
    <td class="date">24./25./26. Mai 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Bündner Kantonal 2024 (Sektion)</td>
    <td class="date">14./15. Juni 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Bündner Kantonal 2024 (Gruppe A)</td>
    <td class="date">14./15. Juni 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Bündner Kantonal 2024 (Gruppe E)</td>
    <td class="date">14./15. Juni 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Jura Kantonal 2024</td>
    <td class="date">21./22. Juni 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Veteranenschiessen Reichenburg</td>
    <td class="date">21. Juni 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Rossbergschiessen</td>
    <td class="date">9./10./11. August 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Stoos Schiessen Gais AR</td>
    <td class="date">25./26. August 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Landschiessen Lichtensteig</td>
    <td class="date">28./30. September und 5./6./7. Oktober 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Chlausenschiessen Mettmenstetten</td>
    <td class="date">25./26. November und 02./03. Dezember 2024</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obligatorisch</td>
    <td class="date">1. April und 28. Juni und 16. August 2024</td>
</tr>
</table>
{% endblock %}
