{% extends 'base.html.twig' %}

{% block title %}Fakultative Schiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Fakultative Schiessen 2020</h1>
<table id="t_obli" summary="Fakultative Schiessen">
<tr class="datetime">
    <td class="shooting">Feldstich</td>
    <td class="date">Vor dem Feldschiessen 2020 in Tuggen</td>
</tr>
<tr class="datetime">
    <td class="shooting">Mannschaftsmeisterschaft Tuggen</td>
    <td class="date">4 Runden April - September 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Cup-Schiessen Tuggen</td>
    <td class="date">04. April 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Hanslinschiessen Rapperswil</td>
    <td class="date">13./14./21. März 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Sportwaffen)</td>
    <td class="date">25./26. April 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Ordonanzwaffen)</td>
    <td class="date">25./26. April 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldschiessen in Schübelbach</td>
    <td class="date">05./06./07. Juni 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldmeisterschaft 2020 in Unteriberg</td>
    <td class="date">13./14./19. Juni 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Eidg. in Luzern Gruppe Sport</td>
    <td class="date">20./21./29. Juni und 06. Juli 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Eidg. in Luzern Gruppe Ordonanz 57/03</td>
    <td class="date">20./21./29. Juni und 06. Juli 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Eidg. in Luzern Gruppe Ordonanz Kar./90/02</td>
    <td class="date">20./21./29. Juni und 06. Juli 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Rossbergschiessen</td>
    <td class="date">07./08./09. August 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Bergschiessen Amden</td>
    <td class="date">04./05./12. September 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Herbstschiessen Stäfa</td>
    <td class="date">18./19./26. September 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Wertmüllerschiessen Wädenswil</td>
    <td class="date">25./26. September und 03. Oktober 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Landschiessen Lichtensteig</td>
    <td class="date">26./28. September und 03./04./05. Oktober 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Chlausenschiessen Mettmenstetten</td>
    <td class="date">28./29. November und 05./06. Dezember 2020</td>
</tr>
<tr class="datetime">
    <td class="shooting">Vorstandsschiessen Pfäffikon</td>
    <td class="date">noch nicht bekannt</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obligatorisch</td>
    <td class="date">05. April und 25. Juni und 20. August 2020</td>
</tr>
</table>
{% endblock %}
