{% extends 'base.html.twig' %}

{% block title %}Fakultative Schiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Fakultative Schiessen 2022</h1>
<table id="t_obli" summary="Fakultative Schiessen">
<tr class="datetime">
    <td class="shooting">Feldstich</td>
    <td class="date">Vor dem Feldschiessen 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Mannschaftsmeisterschaft Tuggen</td>
    <td class="date">23. März bis 21. April und 27. April bis 25. Mai 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Cup-Schiessen Tuggen</td>
    <td class="date">09. April 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Pantherschiessen am Ricken in Walde</td>
    <td class="date">23./29./30. April 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Hanslinschiessen Rapperswil</td>
    <td class="date">06./07./08./14. Mai 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Sportwaffen) Altendorf</td>
    <td class="date">?</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Ordonanzwaffen) Altendorf</td>
    <td class="date">?</td>
</tr>
<tr class="datetime">
    <td class="shooting">Urner Kantonal 2022 (Verein)</td>
    <td class="date">24. Juni und 02. Juli 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Urner Kantonal 2022 (Sport)</td>
    <td class="date">24. Juni und 02. Juli 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Urner Kantonal 2022 (Ordonanzwaffen)</td>
    <td class="date">24. Juni und 02. Juli 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Rossbergschiessen</td>
    <td class="date">05./06./07. August 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Herbstschiessen Stäfa</td>
    <td class="date">16./17./24. September 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Nachtschiessen Unterägeri</td>
    <td class="date">07./08./14. Oktober 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Wertmüllerschiessen Wädenswil</td>
    <td class="date"></td>
</tr>
<tr class="datetime">
    <td class="shooting">Landschiessen Lichtensteig</td>
    <td class="date">01./03./08./09./10. Oktober 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Chlausenschiessen Mettmenstetten</td>
    <td class="date">26./27. November und 03./04. Dezember 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldschiessen 2022 Reichenburg</td>
    <td class="date">06./10./11./12. Juni 2022</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obligatorisch</td>
    <td class="date">18. April und 24. Juni und 19. August 2022</td>
</tr>
</table>
{% endblock %}
