{% extends 'base.html.twig' %}

{% block title %}Fakultative Schiessen - SG Tuggen{% endblock %}

{% block content %}
<h1>Fakultative Schiessen 2021</h1>
<table id="t_obli" summary="Fakultative Schiessen">
<tr class="datetime">
    <td class="shooting">Feldstich</td>
    <td class="date">Vor dem Feldschiessen 2021 in Tuggen</td>
</tr>
<tr class="datetime">
    <td class="shooting">Mannschaftsmeisterschaft Tuggen</td>
    <td class="date">31. März bis 22. April und 28. April bis 27. Mai 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Cup-Schiessen Tuggen</td>
    <td class="date">17. April 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Hanslinschiessen Rapperswil</td>
    <td class="date">12./13./14./20. März 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Sportwaffen)</td>
    <td class="date">?</td>
</tr>
<tr class="datetime">
    <td class="shooting">Einzelwettschiessen (Ordonanzwaffen)</td>
    <td class="date">?</td>
</tr>
<tr class="datetime">
    <td class="shooting">Sihlsee-Schiessen Bennau</td>
    <td class="date">01./02./07./08. Mai 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldmeisterschaft Schübelbach</td>
    <td class="date">07./08./10. Mai 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Feldschiessen in Tuggen</td>
    <td class="date">25./28./29./30. Mai 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Eidg. in Luzern Gruppe Sport</td>
    <td class="date">19./20./28. Juni und 05. Juli 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Eidg. in Luzern Gruppe Ordonanz 57/03</td>
    <td class="date">19./20./28. Juni und 05. Juli 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Eidg. in Luzern Gruppe Ordonanz Kar./90/02</td>
    <td class="date">19./20./28. Juni und 05. Juli 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Rossbergschiessen</td>
    <td class="date">06./07./08. August 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Herbstschiessen Stäfa</td>
    <td class="date">17./18./25. September 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Jubiläumsschiessen Ricken</td>
    <td class="date">17./18./25. September 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Wertmüllerschiessen Wädenswil</td>
    <td class="date">02./09. Oktober 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Landschiessen Lichtensteig</td>
    <td class="date">11. Oktober 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Chlausenschiessen Mettmenstetten</td>
    <td class="date">27./28. November und 04./05. Dezember 2021</td>
</tr>
<tr class="datetime">
    <td class="shooting">Obligatorisch</td>
    <td class="date">05. April und 25. Juni und 20. August 2021</td>
</tr>
</table>
{% endblock %}
