{% extends 'base.html.twig' %}

{% block title %}SG Tuggen{% endblock %}

{% block content %}
<h1>Willkommen bei der Schützengesellschaft Tuggen</h1>
<table id="homenews">
    {#<tr>
        <td class="newstitle" colspan="3">Endschiessen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            Voranzeige Endschiessen, 25. September und 02. Oktober 2021 von 15:30 - 18:00 Uhr.
            Absenden am 13. November 2021 um 19:00 Uhr.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">Flyer 2021</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            <a href="{{ asset('docs/flyer_2021.pdf') }}">Flyer für die obligatorischen Übungen und das Feldschiessen 2021</a>.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">Resultate GV Abstimmung 2021</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            <a href="{{ asset('docs/Abstimmungresultate_GV_2021.pdf') }}">Hier finden Sie die Abstimmungsresultate für die GV 2021</a>.<br />
            Versandte Stimmunterlagen an Stimmberechtigte: 59<br />
            Rücksendung: 36<br />
            Einfaches Mehr: 19<br />
            <br />
            Alle Anträge des Vorstandes wurden genehmigt.<br />
            <br />
            Herzliche Gratulation allen Wiedergewählten, vor allem aber auch den neungewählten Roland Müller als Vize-Präsident, Andreas Bamert als Munitionsverwalter und Roger Käser als Hauptschützenmeister.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">GV 2022 in der Schützenstube Chlausen, Tuggen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newsdate">18. Februar 2022</td>
        <td class="newslocation">Schützenstube Chlausen, Tuggen</td>
        <td class="newstext">
            Am 18.02.2022 um 19:30 Uhr findet in der Schützenstube Chlausen die Generalversammlung statt.
            Die Generalversammlung findet ohne Verpflegung, mit Abstand und Maskenpflicht statt.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">Winterversammlung 2019 im Restaurant Krone, Wangen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newsdate">3. Dezember 2019</td>
        <td class="newslocation">Restaurant Krone, Wangen</td>
        <td class="newstext">
            Am 03.12.2019 um 19:30 Uhr findet im Restaurant Krone in Wangen die Winterversammlung statt.
            Der Vorstand hofft auf eine rege Teilnahme.
        </td>
    </tr>#}
</table>
<p>
    <img src="{{ asset('images/verein-2021.jpg') }}" alt="Verein" />
</p>
{% endblock %}
