{% extends 'base.html.twig' %}

{% block title %}SG Tuggen{% endblock %}

{% block content %}
<h1>Willkommen bei der Sch端tzengesellschaft Tuggen</h1>
{#<table id="homenews">
    <tr>
        <td class="newstitle" colspan="3">GV 2019 in der Sch端tzenstube Chlausen, Tuggen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newsdate">15. Februar 2019</td>
        <td class="newslocation">Sch端tzenstube Chlausen, Tuggen</td>
        <td class="newstext">
            Am 15.02.2019 findet im in der Sch端tzenstube Chlausen die Generalversammlung statt.
            Vor der GV um 19:00 Uhr gibt es einen Imbiss (bitte anmelden!), um ca. 20:00 Uhr startet die GV.
        </td>
    </tr>
</table>#}
<p>
    <img src="{{ asset('images/verein.jpg') }}" alt="Verein" />
</p>
{% endblock %}
