{% extends 'base.html.twig' %}

{% block title %}SG Tuggen{% endblock %}

{% block content %}
<h1>Willkommen bei der Schützengesellschaft Tuggen</h1>
<table id="homenews">
    <tr>
        <td class="newstitle" colspan="3">Flyer 2021</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            <a href="{{ asset('docs/flyer_2021.pdf') }}">Flyer für die obligatorischen Übungen und das Feldschiessen 2021</a>.
        </td>
    </tr>
    {#<tr>
        <td class="newstitle" colspan="3">Resultate GV Abstimmung 2021</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            <a href="{{ asset('docs/Abstimmungresultate_GV_2021.pdf') }}">Hier finden Sie die Abstimmungsresultate für die GV 2021</a>.<br />
            Versandte Stimmunterlagen an Stimmberechtigte: 59<br />
            Rücksendung: 36<br />
            Einfaches Mehr: 19<br />
            <br />
            Alle Anträge des Vorstandes wurden genehmigt.<br />
            <br />
            Herzliche Gratulation allen Wiedergewählten, vor allem aber auch den neungewählten Roland Müller als Vize-Präsident, Andreas Bamert als Munitionsverwalter und Roger Käser als Hauptschützenmeister.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">GV 2020 in der Schützenstube Chlausen, Tuggen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newsdate">21. Februar 2020</td>
        <td class="newslocation">Schützenstube Chlausen, Tuggen</td>
        <td class="newstext">
            Am 21.02.2020 findet in der Schützenstube Chlausen die Generalversammlung statt.
            Vor der GV um 19:00 Uhr gibt es einen Imbiss (bitte anmelden!), um ca. 20:00 Uhr startet die GV.
        </td>
    </tr>
    <tr>
        <td class="newstitle" colspan="3">Winterversammlung 2019 im Restaurant Krone, Wangen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newsdate">3. Dezember 2019</td>
        <td class="newslocation">Restaurant Krone, Wangen</td>
        <td class="newstext">
            Am 03.12.2019 um 19:30 Uhr findet im Restaurant Krone in Wangen die Winterversammlung statt.
            Der Vorstand hofft auf eine rege Teilnahme.
        </td>
    </tr>#}
</table>
<p>
    <img src="{{ asset('images/verein.jpg') }}" alt="Verein" />
</p>
{% endblock %}
