{% extends 'base.html.twig' %}

{% block title %}SG Tuggen{% endblock %}

{% block content %}
<h1>Willkommen bei der Schützengesellschaft Tuggen</h1>
<table id="homenews">
    {#<tr>
        <td class="newstitle" colspan="3">Endschiessen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            Voranzeige Endschiessen, 25. September und 02. Oktober 2021 von 15:30 - 18:00 Uhr.
            Absenden am 13. November 2021 um 19:00 Uhr.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">Flyer 2021</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            <a href="{{ asset('docs/flyer_2021.pdf') }}">Flyer für die obligatorischen Übungen und das Feldschiessen 2021</a>.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">Resultate GV Abstimmung 2021</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            <a href="{{ asset('docs/Abstimmungresultate_GV_2021.pdf') }}">Hier finden Sie die Abstimmungsresultate für die GV 2021</a>.<br />
            Versandte Stimmunterlagen an Stimmberechtigte: 59<br />
            Rücksendung: 36<br />
            Einfaches Mehr: 19<br />
            <br />
            Alle Anträge des Vorstandes wurden genehmigt.<br />
            <br />
            Herzliche Gratulation allen Wiedergewählten, vor allem aber auch den neungewählten Roland Müller als Vize-Präsident, Andreas Bamert als Munitionsverwalter und Roger Käser als Hauptschützenmeister.
        </td>
    </tr>#}
    <tr>
        <td class="newstitle" colspan="3">GV 2025 im Restaurant Löwen, Tuggen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newsdate">14. Februar 2025</td>
        <td class="newslocation">Restaurant Löwen, Tuggen</td>
        <td class="newstext">
            Am 14.02.2025 um 20:00 Uhr findet im Restaurant Löwen die Generalversammlung statt.
            Für angemeldete Mitglieder gibt es einen Imbiss vor der GV ab 19:00 Uhr.
            Um ca. 20:00 Uhr beginnt die Generalversammlung.
        </td>
    </tr>
    {#<tr>
        <td class="newstitle" colspan="3">Winterversammlung 2019 im Restaurant Krone, Wangen</td>
    </tr>
    <tr class="newsinfo">
        <td class="newsdate">3. Dezember 2019</td>
        <td class="newslocation">Restaurant Krone, Wangen</td>
        <td class="newstext">
            Am 03.12.2019 um 19:30 Uhr findet im Restaurant Krone in Wangen die Winterversammlung statt.
            Der Vorstand hofft auf eine rege Teilnahme.
        </td>
    </tr>#}
    {#<tr>
        <td class="newstitle" colspan="3">Die Schützengesellschaft Tuggen lädt zum kostenlosen Probeschiessen ein</td>
    </tr>
    <tr class="newsinfo">
        <td class="newstext">
            Die Schützengesellschaft Tuggen lädt die Öffentlichkeit herzlich zu einem Tag der offenen Schützenhäuser am Samstag, den 13. April 2024 ein.
            <br />
            Interessierte erhalten die Möglichkeit, unser Schützenhaus zu besuchen, an einem kostenlosen Probeschiessen teilzunehmen und unseren Verein und seine Mitglieder näher kennenzulernen. Unsere erfahrenen Schützen freuen sich darauf, auch Anfängerinnen und Anfänger in den Schiesssport einzuführen; Mädchen und Jungen sind ebenfalls herzlich willkommen. Bei dieser Gelegenheit haben die Besucherinnen und Besucher auch die Möglichkeit, mehr über unsere Vereinsaktivitäten zu erfahren.
            <br />
            <b>Probeschiessen für Jugendliche und Erwachsene</b>
            <br />
            Ein Probeschiessen - bietet die einzigartige Gelegenheit für Menschen jeden Alters und jeder Erfahrungsstufe, die Faszination des Schiesssports zu erleben und die Schiessanlage der Schützengesellschaft Tuggen zu erkunden.
            <br />
            <br />
            <b><a href="{{ asset('docs/Flyer_TdoSH.pdf') }}" target="about:_blank">Flyer</a></b>
        </td>
    </tr>#}
</table>
<p>
    <img src="{{ asset('images/verein-2021.jpg') }}" alt="Verein" />
</p>
{% endblock %}
