{% extends 'base.html.twig' %}

{% block title %}Jungschützenkurs - SG Tuggen{% endblock %}

{% block content %}
<h1>Jungschützenkurs 2024</h1>
<div class="text">Geschätzte Damen und Herren vom Jahrgang 2004 / 2005 / 2006 / 2007 / 2008 / 2009.
Geschätzte Mädchen und Burschen vom Jahrgang  2010 / 2011 / 2012.<br />
Die Jahrgänge 2004 - 2009 sind Jungschützen und 2010 - 2012 sind Jugendschützen.
Alle dieser Jahrgänge können am Jungschützenkurs teilnehmen.</div>
<div class="text"><ul>
    <li>Hast du Interesse am sportlichen 300 Meter Schiessen mit dem Sportgerät Sturmgewehr 90?</li>
    <li>Möchtest du den Umgang und die Handhabung mit dem Sportgerät Sturmgewehr 90 lernen?</li>
    <li>Liebst du kameradschaftliche Atmosphäre in deiner Freizeit?</li>
    <li>Hast du Interesse an einem Konzentrationssport?</li>
</ul>
Wir möchten Dir gerne das sportliche Schiessen und der Umgang mit der Waffe beibringen.</div>
<div class="text"><b>Der Jungschützenkurs ist gratis</b> und alle JS-Kurs Teilnehmer sind versichert.</div>
<div class="text"><u>Bitte mache Werbung bei deinen Kameradinnen, Kameraden, Schulkollegen, Nachbarn usw.</u></div>
<div class="highlight">Anmeldung: Donnerstag, den 7. März 2024, um 19:00 Uhr im Schützenhaus Chlausen in Tuggen.</div>
<div class="text">Sollte es Dir an diesem Datum nicht möglich sein, dann kannst Du Dich auch per E-Mail oder telefonisch bei mir melden.</div>
<div class="text">Die Anmeldung und Orientierung dauert ca. eine Stunde.</div>
<div class="text">Auch die Eltern sind herzlich eingeladen um sich über den Jungschützenkurs zu informieren.</div>
<div class="text">Ein erfahrenes Leiterteam möchte Dir das sportliche Schiessen gerne beibringen.</div>
<div class="text">Wenn Du noch weitere Fragen hast bin ich gerne bereit, diese zu beantworten.</div>
<div class="text">Der Jungschützenleiter, Beat Gräzer, und sein Team.</div>

<h2>Kursdaten 2024</h2>
<table id="youth-dates" summary="Kursdaten 2024">
<tr class="datetime">
    <td class="day">1.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">07. März</td>
    <td class="time">19:00 Uhr bis 20:00 Uhr</td>
    <td class="todo">Anmeldung und Theorie</td>
</tr>
<tr class="datetime">
    <td class="day">2.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">21. März</td>
    <td class="time">19:00 Uhr bis 20:00 Uhr</td>
    <td class="todo">Theorie</td>
</tr>
<tr class="datetime">
    <td class="day">3.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">04. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Theorie + Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">4.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">11. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">5.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">18. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">6.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">25. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">7.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">02. Mai</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">8.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">16. Mai</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">9.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">23. Mai</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">10.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">06. Juni</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">11.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">13. Juni</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">12.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">27. Juni</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
</table>
<div class="text"><ul>
    <li>18./20. Juni 2024: Jungschützenwettschiessen March - Höfe in Tuggen</li>
    {#<li>06. Juli 2019 Eidgenössisches Jungschützenwettschiessen in Frauenfeld</li>#}
    <li>30. August und 1. September 2024 Kantonales Jugendschiessen in Rothenthurm</li>
    <li>24. August 2024 Kantonaler Gruppen- und Einzelfinal in Rothenthurm</li>
</ul></div>
<div class="text">Wir werden auch dieses Jahr wieder Schützenfeste besuchen, dieses ist aber freiwillig. Für alle Schützenfeste, die wir besuchen, gibt es eine Einladung.</div>
{% endblock %}
