{% extends 'base.html.twig' %}

{% block title %}Jungschützenkurs - SG Tuggen{% endblock %}

{% block content %}
<h1>Jungschützenkurs 2023</h1>
<div class="text">Geschätzte Damen und Herren vom Jahrgang 2003 / 2004 / 2005 / 2006 / 2007 / 2008.
Geschätzte Mädchen und Burschen vom Jahrgang  2009 / 2010 / 2011.<br />
Die Jahrgänge 2003 - 2008 sind Jungschützen und 2009 - 2011 sind Jugendschützen.
Alle dieser Jahrgänge können am Jungschützenkurs teilnehmen.</div>
<div class="text"><ul>
    <li>Hast du Interesse am sportlichen 300 Meter Schiessen mit dem Sportgerät Sturmgewehr 90?</li>
    <li>Möchtest du den Umgang und die Handhabung mit dem Sportgerät Sturmgewehr 90 lernen?</li>
    <li>Liebst du kameradschaftliche Atmosphäre in deiner Freizeit?</li>
    <li>Hast du Interesse an einem Konzentrationssport?</li>
</ul>
Wir möchten Dir gerne das sportliche Schiessen und der Umgang mit der Waffe beibringen.</div>
<div class="text"><b>Der Jungschützenkurs ist gratis</b> und alle JS-Kurs Teilnehmer sind versichert.</div>
<div class="text"><u>Bitte mache Werbung bei deinen Kameradinnen, Kameraden, Schulkollegen, Nachbarn usw.</u></div>
<div class="highlight">Anmeldung: Donnerstag, den 2. März 2023, um 19:00 Uhr im Schützenhaus Chlausen in Tuggen.</div>
<div class="text">Sollte es Dir an diesem Datum nicht möglich sein, dann kannst Du Dich auch per E-Mail oder telefonisch bei mir melden.</div>
<div class="text">Die Anmeldung und Orientierung dauert ca. eine Stunde.</div>
<div class="text">Auch die Eltern sind herzlich eingeladen um sich über den Jungschützenkurs zu informieren.</div>
<div class="text">Ein erfahrenes Leiterteam möchte Dir das sportliche Schiessen gerne beibringen.</div>
<div class="text">Wenn Du noch weitere Fragen hast bin ich gerne bereit, diese zu beantworten.</div>
<div class="text">Der Jungschützenleiter, Beat Gräzer, und sein Team.</div>

<h2>Kursdaten 2023</h2>
<table id="youth-dates" summary="Kursdaten 2023">
<tr class="datetime">
    <td class="day">1.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">02. März</td>
    <td class="time">19:00 Uhr bis 20:00 Uhr</td>
    <td class="todo">Anmeldung und Theorie</td>
</tr>
<tr class="datetime">
    <td class="day">2.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">16. März</td>
    <td class="time">19:00 Uhr bis 20:00 Uhr</td>
    <td class="todo">Theorie</td>
</tr>
<tr class="datetime">
    <td class="day">3.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">30. März</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Theorie + Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">4.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">06. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">5.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">13. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">6.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">20. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">7.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">27. April</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">8.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">04. Mai</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">9.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">19. Mai</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">10.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">01. Juni</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">11.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">15. Juni</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
<tr class="datetime">
    <td class="day">12.</td>
    <td class="courseday">Kurstag</td>
    <td class="weekday">Donnerstag</td>
    <td class="date">29. Juni</td>
    <td class="time">18:15 Uhr bis 20:00 Uhr</td>
    <td class="todo">Schiessen</td>
</tr>
</table>
<div class="text"><ul>
    <li>17./19. Juni 2023: Jungschützenwettschiessen March - Höfe in Pfäffikon</li>
    {#<li>06. Juli 2019 Eidgenössisches Jungschützenwettschiessen in Frauenfeld</li>#}
    <li>18./20. August 2023 Kantonales Jugendschiessen in Rothenthurm</li>
    <li>26. August 2023 Kantonaler Gruppen- und Einzelfinal in Rothenthurm</li>
</ul></div>
<div class="text">Wir werden auch dieses Jahr wieder Schützenfeste besuchen, dieses ist aber freiwillig. Für alle Schützenfeste, die wir besuchen, gibt es eine Einladung.</div>
{% endblock %}
