{% extends 'base.html.twig' %}

{% block title %}Obligatorisches Programm - SG Tuggen{% endblock %}

{% block content %}
<h1>Obligatorisches Programm 2024</h1>
<p class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</p>
<table id="t_obli" class="table" summary="Obligatorisches Programm">
<tr class="datetime">
    <td class="date">Ostermontag, 1. April 2024</td>
    <td class="time">09:30 Uhr bis 11:30 Uhr</td>
</tr>
<tr class="datetime">
    <td class="date">Freitag, 28. Juni 2024</td>
    <td class="time">18:00 Uhr bis 19:30 Uhr</td>
</tr>
<tr class="datetime">
    <td class="date">Freitag, 16. August 2024</td>
    <td class="time">18:00 Uhr bis 19:30 Uhr</td>
</tr>
</table>
{% endblock %}
