{% extends 'base.html.twig' %}

{% block title %}Schiessplan - SG Tuggen{% endblock %}

{% block content %}
<h1>Schiessplan 2019</h1>
<div id="obli">
    <h2>Obligatorische Übungen</h2>
    <div class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
    Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</div>
    <table id="t_obli" summary="Obligatorische Übungen">
    <tr class="datetime">
        <td class="date">Ostermontag, 22. April 2019</td>
        <td class="time">09:30 Uhr bis 11:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 05. Juli 2019</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 23. August 2019</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="feld">
    <h2>Feldschiessen</h2>
    <div class="description">Auf dem Schiessplatz Tuggen mit Plauschgruppenwettkampf!<br /></div>
    <table id="t_feld" summary="Feldschiessen">
    <tr class="datetime">
        <td class="date">Montag, 20. Mai 2019 (Vorschiessen)</td>
        <td class="time-big">18:00 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr>
        <td class="date">Freitag, 24. Mai 2019</td>
        <td class="time-big">17:30 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 25. Mai 2019</td>
        <td class="time-big">10:00 Uhr bis 12:00 Uhr und 13:30 Uhr bis 17:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 26. Mai 2019</td>
        <td class="time-big">08:00 Uhr bis 11:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="ueb">
    <h2>Trainingsschiessen</h2>
    <table id="t_ueb" summary="Übungsschiessen">
    <tr class="datetime">
        <td class="date">Samstag, 02./09./16. und 30. März 2019</td>
        <td class="time">13:30 Uhr bis 15:30 Uhr</td>
        <td></td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 23. März 2019</td>
        <td class="time">15:30 Uhr bis 16:30 Uhr</td>
        <td></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 03. April bis 24. April 2019</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 04. April bis 25. April 2019</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend und Kniend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 01. Mai bis 24. Juni 2019</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 02. Mai bis 06. Juni 2019</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend und Kniend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 07. bis 28. August 2019</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 04. bis 25. September 2019</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    </table>
    <div class="text">Am <b>30. Mai und 15. August 2019</b> findet <b>kein</b> Training statt (Feiertage).</div>
</div>
<div id="meist">
    <h2>Vereinsmeisterschaft</h2>
    <table id="t_meist" summary="Vereinsmeisterschaft">
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Kantonalstich</td>
        <td class="date">Beste Passe der ersten zwei Passen</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Sektionsmeisterschaft</td>
        <td class="date">1. Heimrunde (02. März bis 06. Juni 2019)</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Schlossturmschiessen</td>
        <td class="date">13./14./27. April 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Maseltrangen</td>
        <td class="shooting">Frühlingsschiessen</td>
        <td class="date">26./27. April und 04./05. Mai 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Schmerikon</td>
        <td class="shooting">Grynauschiessen</td>
        <td class="date">31. Mai und 01./07./08. Mai 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Einsiedeln</td>
        <td class="shooting">Sihlseeschiessen</td>
        <td class="date">31. Mai und 07./08. Mai 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Eschenbach</td>
        <td class="shooting">Balmenrainschiessen (Ricken)</td>
        <td class="date">31. Mai und 01./07./08. Mai 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Schwyzer Kantonal 2019</td>
        <td class="date">14. bis 30. Juni 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Oberiberg</td>
        <td class="shooting">Roggenstockschiessen</td>
        <td class="date">16./17./24./25 August 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Unteriberg</td>
        <td class="shooting">Hirschfluohschiessen</td>
        <td class="date">16./17./24./25 August 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Amden</td>
        <td class="shooting">Ammler Bergschiessen</td>
        <td class="date">06./07./14. September 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Reichenburg</td>
        <td class="shooting">Verbandsschiessen March-Höfe</td>
        <td class="date">noch nicht bekannt</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Herbstschiessen Ober-/Mittelmarch</td>
        <td class="date">28. September und 05. Oktober 2019</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Endschiessen (Kranzstich)</td>
        <td class="date">28. September und 05. Oktober 2019</td>
    </tr>
    </table>
</div>
<div id="endschiessen">
    <h2>Endschiessen</h2>
    <table id="t_endschiessen" summary="Endschiessen">
    <tr class="datetime">
        <td class="shooting">Absenden</td>
        <td class="location">Tuggen</td>
        <td class="date">19. Oktober 2019</td>
    </tr>
    </table>
</div>
{% endblock %}
