{% extends 'base.html.twig' %}

{% block title %}Schiessplan - SG Tuggen{% endblock %}

{% block content %}
<h1>Schiessplan 2020</h1>
<div id="obli">
    <h2>Obligatorische Übungen</h2>
    <div class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
    Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</div>
    <table id="t_obli" summary="Obligatorische Übungen">
    <tr class="datetime">
        <td class="date">Ostermontag, 13. April 2020</td>
        <td class="time">Abgesagt</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 26. Juni 2020</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 21. August 2020</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="feld">
    <h2>Feldschiessen</h2>
    <div class="description">Auf dem Schiessplatz Schübelbach mit Plauschgruppenwettkampf!<br /></div>
    <table id="t_feld" summary="Feldschiessen">
    <tr class="datetime">
        <td class="date">Dienstag, 02. Juni 2020 (Vorschiessen)</td>
        <td class="time-big">18:00 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr>
        <td class="date">Freitag, 05. Juni 2020</td>
        <td class="time-big">18:00 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 06. Juni 2020</td>
        <td class="time-big">14:00 Uhr bis 17:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 07. Juni 2020</td>
        <td class="time-big">09:30 Uhr bis 11:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="ueb">
    <h2>Trainingsschiessen</h2>
    <table id="t_ueb" summary="Übungsschiessen">
    <tr class="datetime">
        <td class="date">Samstag, 14. und 28. März 2020</td>
        <td class="time">Abgesagt</td>
        <td></td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 21. März 2020</td>
        <td class="time">Abgesagt</td>
        <td></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 01. April bis 29. April 2020</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 02. April bis 30. April 2020</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend und Kniend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 06. Mai bis 24. Juni 2020</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 07. Mai bis 25. Juni 2020</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend und Kniend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 05. bis 26. August 2020</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 02. bis 23. September 2020</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    </table>
    <div class="text">Am <b>21. Mai und 11. Juni 2020</b> findet <b>kein</b> Training statt (Feiertage).</div>
</div>
<div id="meist">
    <h2>Vereinsmeisterschaft</h2>
    <table id="t_meist" summary="Vereinsmeisterschaft">
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Kantonalstich</td>
        <td class="date">Beste Passe der ersten zwei Passen</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Sektionsmeisterschaft</td>
        <td class="date">1. Heimrunde (21. März bis 10. Juni 2020)</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Wilen Jubiläumsschiessen</td>
        <td class="date">26. September und 03./04. Oktober 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Gommiswald</td>
        <td class="shooting">Regulasteinschiessen</td>
        <td class="date">Abgesagt</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Uznach</td>
        <td class="shooting">Buechwaldschiessen</td>
        <td class="date">Abgesagt</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Maseltrangen</td>
        <td class="shooting">Frühlingsschiessen</td>
        <td class="date">Abgesagt</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Vorderthal</td>
        <td class="shooting">Verbandsschiessen March-Höfe</td>
        <td class="date">08./09./15./16. Mai 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Luzern</td>
        <td class="shooting">Eidg. 2020</td>
        <td class="date">20./21./29. Juni und 06. Juli 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Unteriberg</td>
        <td class="shooting">Jubiläumsschiessen</td>
        <td class="date">21./22./29./30. August 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Trachslau</td>
        <td class="shooting">Jubiläumsschiessen</td>
        <td class="date">04./05./11./12. September 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Weesen</td>
        <td class="shooting">Herbstschiessen</td>
        <td class="date">04./05./12. September 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Niederurnen</td>
        <td class="shooting">Linth-Escher-Schiessen</td>
        <td class="date">04./05./12. September 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Ricken</td>
        <td class="shooting">Jubiläumsschiessen</td>
        <td class="date">11./12./13./19. September 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Reichenburg</td>
        <td class="shooting">Herbstschiessen Ober-/Mittelmarch</td>
        <td class="date">September 2020</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Endschiessen (Kranzstich)</td>
        <td class="date">26. September und 03. Oktober 2020</td>
    </tr>
    </table>
</div>
<div id="endschiessen">
    <h2>Endschiessen</h2>
    <table id="t_endschiessen" summary="Endschiessen">
    <tr class="datetime">
        <td class="shooting">Absenden</td>
        <td class="location">Tuggen</td>
        <td class="date">14. November 2020</td>
    </tr>
    </table>
</div>
{% endblock %}
