{% extends 'base.html.twig' %}

{% block title %}Schiessplan - SG Tuggen{% endblock %}

{% block content %}
<h1>Schiessplan 2018</h1>
<div id="obli">
    <h2>Obligatorische Übungen</h2>
    <div class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
    Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</div>
    <table id="t_obli" summary="Obligatorische Übungen">
    <tr class="datetime">
        <td class="date">Ostermontag, 02. April 2018</td>
        <td class="time">09:30 Uhr bis 11:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 29. Juni 2018</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 24. August 2018</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="feld">
    <h2>Feldschiessen</h2>
    <div class="description">Auf dem Schiessplatz Reichenburg mit Plauschgruppenwettkampf!<br /></div>
    <table id="t_feld" summary="Feldschiessen">
    <tr class="datetime">
        <td class="date">Montag, 04. Juni 2018 (Vorschiessen)</td>
        <td class="time">18:00 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr>
        <td class="date">Freitag, 08. Juni 2018</td>
        <td class="time">17:30 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 09. Juni 2018</td>
        <td class="time">10:00 Uhr bis 12:00 Uhr und 13:30 Uhr bis 17:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 10. Juni 2018</td>
        <td class="time">08:00 Uhr bis 11:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="ueb">
    <h2>Trainingsschiessen</h2>
    <table id="t_ueb" summary="Übungsschiessen">
    <tr class="datetime">
        <td class="date">Samstag, 03. März 2018</td>
        <td class="time">13:30 Uhr bis 15:30 Uhr</td>
        <td></td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 10./17. und 24. März 2018</td>
        <td class="time">15:00 Uhr bis 17:00 Uhr</td>
        <td></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 28. März bis 27. Juni 2018</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 29. März bis 28. Juni 2018</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend und Kniend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 08. bis 29. August 2018</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 05. bis 26. September 2018</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    </table>
    <div class="text">Am <b>10. Mai, 31. Mai und 15. August 2018</b> findet <b>kein</b> Training statt (Feiertage).</div>
</div>
<div id="meist">
    <h2>Vereinsmeisterschaft</h2>
    <table id="t_meist" summary="Vereinsmeisterschaft">
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Kantonalstich</td>
        <td class="date">Beste Passe der ersten zwei Passen</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Sektionsmeisterschaft</td>
        <td class="date">1. Heimrunde (03. März bis 07. Juni 2018)</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Schlossturmschiessen</td>
        <td class="date">14./15./21. April 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Maseltrangen</td>
        <td class="shooting">Frühlingsschiessen</td>
        <td class="date">27./28. April und 05./06. Mai 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Uznach</td>
        <td class="shooting">Buechwaldschiessen</td>
        <td class="date">28. April und 04./05. Mai 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Gommiswald</td>
        <td class="shooting">Regulasteinschiessen</td>
        <td class="date">28. April und 04./05. Mai 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Kaltbrunn</td>
        <td class="shooting">St. Georgschiessen</td>
        <td class="date">28. April und 04./05. Mai 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Altendorf</td>
        <td class="shooting">Etzelbundschiessen</td>
        <td class="date">16./22./23. Juni 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Verbandsschiessen March-Höfe</td>
        <td class="date">16./22./23. Juni 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Oberhelfenschwil</td>
        <td class="shooting">Chilbischiessen</td>
        <td class="date">17./18./25./26. August 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Niederurnen</td>
        <td class="shooting">Linth-Escher-Schiessen</td>
        <td class="date">31. August und 01./08. September 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Weesen</td>
        <td class="shooting">Herbstschiessen</td>
        <td class="date">31. August und 01./08. September 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Herbstschiessen Ober-/Mittelmarch</td>
        <td class="date">14./15. September 2018</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Endschiessen</td>
        <td class="date">29. September und 06. Oktober 2018</td>
    </tr>
    </table>
</div>
<div id="endschiessen">
    <h2>Endschiessen</h2>
    <table id="t_endschiessen" summary="Endschiessen">
    <tr class="datetime">
        <td class="shooting">Absenden</td>
        <td class="location">Tuggen</td>
        <td class="date">20. Oktober 2018</td>
    </tr>
    </table>
</div>
{% endblock %}
