{% extends 'base.html.twig' %}

{% block title %}Schiessplan - SG Tuggen{% endblock %}

{% block content %}
<h1>Schiessplan 2024</h1>
<div id="obli">
    <h2>Obligatorische Übungen</h2>
    <div class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
    Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</div>
    <table id="t_obli" summary="Obligatorische Übungen">
    <tr class="datetime">
        <td class="date">Ostermontag, 1. April 2024</td>
        <td class="time">09:30 Uhr bis 11:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 28. Juni 2024</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 16. August 2024</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="feld">
    <h2>Feldschiessen</h2>
    <div class="description">Auf dem Schiessplatz Tuggen mit Plauschgruppenwettkampf!<br /></div>
    <table id="t_feld" summary="Feldschiessen">
    <tr class="datetime">
        <td class="date">Freitag, 24. Mai 2024</td>
        <td class="time-big">17:30 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 25. Juni 2024</td>
        <td class="time-big">14:30 Uhr bis 17:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 26. Juni 2024</td>
        <td class="time-big">09:00 Uhr bis 11:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="ueb">
    <h2>Trainingsschiessen</h2>
    <table id="t_ueb" summary="Übungsschiessen">
    <tr class="datetime">
        <td class="date">Samstag, 9. März 2024</td>
        <td class="time">13:30 Uhr bis 15:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 16./23. März 2024</td>
        <td class="time">15:00 Uhr bis 17:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 3. April bis 24. April 2024</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 4. April bis 25. April 2024</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 1. Mai bis 26. Juni 2024</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 2. Mai bis 27. Juni 2024</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 7. August bis 28. August 2024</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 4. September bis 25. September 2024</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    </table>
    <div class="text">Am <b>9. Mai 2024</b> und <b>30. Mai 2024</b> findet <b>kein</b> Training statt (Feiertage).</div>
</div>
<div id="meist">
    <h2>Vereinsmeisterschaft</h2>
    <table id="t_meist" summary="Vereinsmeisterschaft">
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Kantonalstich</td>
        <td class="date">Beste Passe der ersten zwei Passen</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Sektionsmeisterschaft</td>
        <td class="date">1. Heimrunde (3. April bis 6. Juni 2024)</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Schlossturmschiessen</td>
        <td class="date">13./14./20. April 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Uznach</td>
        <td class="shooting">Buechwaldschiessen</td>
        <td class="date">26./27. April und 5. Mai 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Maseltrangen</td>
        <td class="shooting">Frühlingsschiessen</td>
        <td class="date">26./27. April und 4./5. Mai 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Schübelbach</td>
        <td class="shooting">Verbandsschiessen RSV</td>
        <td class="date">7./8. Juni 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">62. Etzelbundschiessen</td>
        <td class="date">14./15. Juni 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Niederurnen</td>
        <td class="shooting">Linth-Escher-Schiessen</td>
        <td class="date">6./7./14. September 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Weesen</td>
        <td class="shooting">Herbstschiessen</td>
        <td class="date">6./7./14. September 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Amden</td>
        <td class="shooting">Bergschiessen</td>
        <td class="date">6./7./14. September 2024</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Endschiessen</td>
        <td class="date">6./7. September 2024</td>
    </tr>
    </table>
</div>
<div id="endschiessen">
    <h2>Endschiessen</h2>
    <table id="t_endschiessen" summary="Endschiessen">
    <tr class="datetime">
        <td class="shooting">Absenden</td>
        <td class="location">Tuggen</td>
        <td class="date">9. November 2024</td>
    </tr>
    </table>
</div>
{% endblock %}
