{% extends 'base.html.twig' %}

{% block title %}Schiessplan - SG Tuggen{% endblock %}

{% block content %}
<h1>Schiessplan 2021</h1>
<div id="obli">
    <h2>Obligatorische Übungen</h2>
    <div class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
    Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</div>
    <table id="t_obli" summary="Obligatorische Übungen">
    <tr class="datetime">
        <td class="date">Ostermontag, 05. April 2021</td>
        <td class="time">09:30 Uhr bis 11:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 25. Juni 2021</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 20. August 2021</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="feld">
    <h2>Feldschiessen</h2>
    <div class="description">Auf dem Schiessplatz Tuggen mit Plauschgruppenwettkampf!<br /></div>
    <table id="t_feld" summary="Feldschiessen">
    {#}<tr class="datetime">
        <td class="date">Montag, 29. Juni 2021</td>
        <td class="time-big">18:00 Uhr bis 20:00 Uhr</td>
    </tr>#}
    <tr>
        <td class="date">Freitag, 28. Mai 2021</td>
        <td class="time-big">18:00 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 29. Mai 2021</td>
        <td class="time-big">14:00 Uhr bis 17:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 30. Mai 2021</td>
        <td class="time-big">14:00 Uhr bis 17:00 Uhr</td>
    </tr>
    </table>
</div>
<div id="ueb">
    <h2>Trainingsschiessen</h2>
    <table id="t_ueb" summary="Übungsschiessen">
    <tr class="datetime">
        <td class="date">Samstag, 13./20./27. März 2021</td>
        <td class="time">13:30 Uhr bis 15:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 31. März bis 28. April 2021</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 01. bis 29. April 2021</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 05. Mai bis 30. Juni 2021</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 06. Mai bis 01. Juli 2021</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 04. August bis 25. August 2021</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position">Kniend und Liegend</td>
    </tr>
    <tr class="datetime">
        <td class="date">(Donnerstag, 05. August bis 30. September 2021)</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Liegend (reserviert)</td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 01. September bis 29. September 2021</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position">Kniend und Liegend</td>
    </tr>
    </table>
    <div class="text">Am <b>13. Mai 2021</b> und <b>03. Juni 2021</b> findet <b>kein</b> Training statt (Feiertage).</div>
</div>
<div id="meist">
    <h2>Vereinsmeisterschaft</h2>
    <table id="t_meist" summary="Vereinsmeisterschaft">
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Kantonalstich</td>
        <td class="date">Beste Passe der ersten zwei Passen</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Sektionsmeisterschaft</td>
        <td class="date">1. Heimrunde (20. März bis 10. Juli 2021)</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Uznach</td>
        <td class="shooting">Buechwaldschiessen</td>
        <td class="date">16./17./24. April 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Schlossturm-Schiessen</td>
        <td class="date">17./18./24. April 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Maseltrangen</td>
        <td class="shooting">Frühlingsschiessen</td>
        <td class="date">23./24. April und 01./02. Mai 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Verbandsschiessen March-Höfe</td>
        <td class="date">Mai/Juni 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Eschenbach</td>
        <td class="shooting">Balmenrainschiessen</td>
        <td class="date">14./15./22. Mai 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Luzern</td>
        <td class="shooting">Eidg. 2021</td>
        <td class="date">11. Juni bis 11. Juli 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Oberiberg</td>
        <td class="shooting">Roggenstock-Schiessen</td>
        <td class="date">20./21./29. August 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Unteriberg</td>
        <td class="shooting">Hirschfluh-Schiessen</td>
        <td class="date">20./21./29. August 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Niederurnen</td>
        <td class="shooting">Linth-Escher-Schiessen</td>
        <td class="date">03./04./11. September 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Weesen</td>
        <td class="shooting">Herbstschiessen</td>
        <td class="date">03./04./11. September 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Amden</td>
        <td class="shooting">Bergschiessen</td>
        <td class="date">03./04./11. September 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Reichenburg</td>
        <td class="shooting">Herbstschiessen Ober-/Mittelmarch</td>
        <td class="date">September 2021</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Endschiessen (Kranzstich)</td>
        <td class="date">25. September und 02. Oktober 2021</td>
    </tr>
    </table>
</div>
<div id="endschiessen">
    <h2>Endschiessen</h2>
    <table id="t_endschiessen" summary="Endschiessen">
    <tr class="datetime">
        <td class="shooting">Absenden</td>
        <td class="location">Tuggen</td>
        <td class="date">06. November 2021</td>
    </tr>
    </table>
</div>
{% endblock %}
