{% extends 'base.html.twig' %}

{% block title %}Schiessplan - SG Tuggen{% endblock %}

{% block content %}
<h1>Schiessplan 2023</h1>
<div id="obli">
    <h2>Obligatorische Übungen</h2>
    <div class="description">Standblattausgabe bis 30 Minuten vor Schiessende.<br />
    Dienst- und Schiessbüchlein oder Leistungsausweis mitbringen.</div>
    <table id="t_obli" summary="Obligatorische Übungen">
    <tr class="datetime">
        <td class="date">Ostermontag, 10. April 2023</td>
        <td class="time">09:30 Uhr bis 11:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 23. Juni 2023</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Freitag, 18. August 2023</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
    </tr>
    </table>
</div>
<div id="feld">
    <h2>Feldschiessen</h2>
    <div class="description">Auf dem Schiessplatz Schübelbach mit Plauschgruppenwettkampf!<br /></div>
    <table id="t_feld" summary="Feldschiessen">
    <tr class="datetime">
        <td class="date">Freitag, 2. Juni 2023</td>
        <td class="time-big">18:00 Uhr bis 20:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 3. Juni 2023</td>
        <td class="time-big">14:00 Uhr bis 17:00 Uhr</td>
    </tr>
    <tr class="datetime">
        <td class="date">Sonntag, 4. Juni 2023</td>
        <td class="time-big">09:30 Uhr bis 12:00 Uhr</td>
    </tr>
    </table>
</div>
<div id="ueb">
    <h2>Trainingsschiessen</h2>
    <table id="t_ueb" summary="Übungsschiessen">
    <tr class="datetime">
        <td class="date">Samstag, 11. März 2023</td>
        <td class="time">13:30 Uhr bis 15:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Samstag, 18./25. März 2023</td>
        <td class="time">15:00 Uhr bis 17:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 29. März bis 26. April 2023</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 30. März bis 27. April 2023</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 03. Mai bis 28. Juni 2023</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Donnerstag, 04. Mai bis 29. Juni 2023</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 02. August bis 30. August 2023</td>
        <td class="time">18:30 Uhr bis 20:00 Uhr</td>
        <td class="position"></td>
    </tr>
    <tr class="datetime">
        <td class="date">Mittwoch, 06. September bis 27. September 2023</td>
        <td class="time">18:00 Uhr bis 19:30 Uhr</td>
        <td class="position"></td>
    </tr>
    </table>
    <div class="text">Am <b>18. Mai 2023</b> und <b>8. Juni 2023</b> findet <b>kein</b> Training statt (Feiertage).</div>
</div>
<div id="meist">
    <h2>Vereinsmeisterschaft</h2>
    <table id="t_meist" summary="Vereinsmeisterschaft">
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Kantonalstich</td>
        <td class="date">Beste Passe der ersten zwei Passen</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Sektionsmeisterschaft</td>
        <td class="date">1. Heimrunde (01. April bis 10. Juli 2023)</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Pfäffikon</td>
        <td class="shooting">Schlossturmschiessen</td>
        <td class="date">15./16./22. April 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Maseltrangen</td>
        <td class="shooting">Frühlingsschiessen</td>
        <td class="date">28./29. April und 06./07. Mai 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Altendorf</td>
        <td class="shooting">Verbandsschiessen RSV</td>
        <td class="date">05./06./13. Mai 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Ricken</td>
        <td class="shooting">Balmenrainschiessen</td>
        <td class="date">19./20./27. Mai 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Kerns & Sachseln</td>
        <td class="shooting">Obwadlner Kantonal</td>
        <td class="date">18./19. Juni 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Unteriberg</td>
        <td class="shooting">Hirschfluohschiessen</td>
        <td class="date">18./19./26./27. August 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Oberiberg</td>
        <td class="shooting">Roggenstockschiessen</td>
        <td class="date">18./19./26./27. August 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Sattel</td>
        <td class="shooting">Jubiläumsschiessen (350 Jahre)</td>
        <td class="date">18./19./25. August 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Niederurnen</td>
        <td class="shooting">Linth-Escher-Schiessen</td>
        <td class="date">01./02./09. September 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Weesen</td>
        <td class="shooting">Herbstschiessen</td>
        <td class="date">01./02./09. September 2023</td>
    </tr>
    <tr class="datetime">
        <!--<td class="cup"></td>-->
        <td class="location">Tuggen</td>
        <td class="shooting">Endschiessen</td>
        <td class="date">30. September und 07. Oktober 2023</td>
    </tr>
    </table>
</div>
<div id="endschiessen">
    <h2>Endschiessen</h2>
    <table id="t_endschiessen" summary="Endschiessen">
    <tr class="datetime">
        <td class="shooting">Absenden</td>
        <td class="location">Tuggen</td>
        <td class="date">11. November 2023</td>
    </tr>
    </table>
</div>
{% endblock %}
