{% extends 'base.html.twig' %}

{% block title %}Vorstand - SG Tuggen{% endblock %}

{% block content %}
<h1>Vorstand</h1>
<div id="vorstand" class="row row-cols-1 row-cols-md-3 g-4">
    {% for person in persons %}
    <div class="col">
        <div class="card">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="{{ asset('/images/persons/' ~ person.image) }}" class="img-fluid rounded-start" alt="Bild von {{ person.name }}">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">{{ person.name }}</h5>
                        <p class="card-text fs-8">{{ person.role }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
