{% extends "SgTuggenMainBundle::layout.html.twig" %}

{% block content %}

    <h1>Kontaktanfrage gesendet</h1>

    <p>
        Vielen Dank für Ihre Kontaktanfrage. Wir werden diese umgehend bearbeiten.
    </p>

{% endblock %}